@charset "utf-8";

/** STRUKTUR UND LAYOUT **********************/


body {
    color: black;
    background-color: #9f9f9f;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bugEntry{
    margin-bottom: 20px;
}

div#wrapper{
    background-color: #fff;
    border: 6px solid black;
    width: 650px;
    margin: 30px auto;
    padding: 20px 30px 40px;
    display: flex;
    flex-direction: column;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 15px 0;*/
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}


input#titleInput {
    margin-left: 58px;
}


input#authorInput {
    margin-left: 30px;
}

label[for=editorInput]{
    padding-right: 10px;
}


.floatRight{
    display: flex;
    justify-content: flex-end;
}


.floatLeft{
    display: flex;
    justify-content: flex-start;
}


div#buttons{
    border-top: 3px solid black;
    padding: 25px 0 15px;

}


div#listOfBugs{
    margin-top: 15px;
}

.bugEntry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


div#listOfBugs div.bugEntry {
    border-top: 3px solid black;
    padding: 15px 0;
}


p{
    padding: 0 0 0 32px;
    margin: 0;
}


.inline{
    display: inline;
    padding: 0;
    /*margin:0;*/
}

p.inline + p {
    padding-top: 5px;
    padding-left: 38px;
}



/** SCHRIFTEN, FARBEN, RAHMEN ****************/


h1{
    font-family: "Trebuchet MS" , sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}


label, input, select, p, textarea, button {
    font-family: "Trebuchet MS" , sans-serif;
    font-size: 16px;
    font-weight: 600;
}


input, select, textarea {
    border: 3px solid black;
    border-radius: 0;
    background-color: white;
    padding: 3px 8px;
    margin: 0 10px;
}

button{
    border: unset;
    background-color: unset;
    font-size: 20px;
    margin-right: 15px;
}


input[type=button]:hover, option:hover{
    background-color: black;
    color: #fff;
}


.border{
    outline: red;
}


.background{
    background-color: #bbbbbb;
    color: white;
}



/** geschlossene/offene bugs: ****************/


.checked {
    color: darkgreen;
}


.not_checked{
    color: red;
}
